.card-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 1400px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, 150px);
    }
}

@media screen and (max-width: 730px) {
    .card-grid {
        grid-template-columns: repeat(auto-fit, 100px);
    }
}
